
.pdf-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background:white;
height: 100vh;
}

.pdf-upload-container input[type="file"] {
    margin: 20px 0;
}

.pdf-upload-container p {
    margin-top: 10px;
    color: green;
}
